body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', 'Arial' sans-serif;
    font-size: 16px;
    line-weight: 22px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;

    background-color: #849d8f;
}

a {
    text-decoration: none;
}

.main-logo {
    position: relative;
    left: 27px;
    top: 9px;

    width: 154px;
    height: 64px;

}

.main-navigation {
    font-size: 16px;
    font-weight: 700;
    line-weight: 30px;
    color: #ffffff;

    background-color: #849d8f;
}

.cite-navigation,
.hower-items {
    list-style: none;
}

.hower-items li:not(:first-child) {
    font-size: 14px;
    line-weight: 16px;
    font-weight: 400;
    color: #333333;

    background-color: #849d8f;
}
.hower-items li:first-child {
    font-size: 14px;
    line-weight: 16px;
    font-weight: 700;
    color: #333333;

    border-bottom: 1px solid #333333;
    background-color: #849d8f;

}

.main-user-fields{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;

    background-color: #849d8f;
}

.main-work-time {
    font-size: 14px;
    line-weight: 16px;
    font-weight: 700;
    color: #ffffff;

    background-color: #849d8f;
}

.phone-number {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    background-color: #849d8f;
}

.cite-navigation a,
.main-user-fields a {
    color: #ffffff;
}
.hower-items a{
    color:#333333;
}

.cite-navigation a:hover,
.cite-navigation a:focus,
.main-user-fields a:hover,
.main-user-fields a:hover {
    color: #333333;
    background-color: #ffffff;
}

.main-description {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;

    background-color: #849d8f;
    background-image: url("../img/waffle-pattern.jpg");
}

.main-description h1{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #333333;
}

.main-description-advantages {
    list-style: none;
}
