body {
    margin: 0;
    padding: 0;

    font-family: Roboto, "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;

    background-color: #849d8f;
}

a {
    text-decoration: none;
}

.visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;

    clip: rect(0, 0, 0, 0);
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.cite-navigation a,
.main-user-fields a {
    color: #ffffff;
}

.hower-items a{
    color:#333333;
}

.cite-navigation a:hover,
.cite-navigation a:focus,
.main-user-fields a:hover,
.main-user-fields a:focus {
    color: #333333;
    background-color: #ffffff;
}

.slider-wrapper::before,
.slider-wrapper::after {
  content: "";

  visibility: hidden;
}

.slider-wrapper::before {
  background-image: url("../img/slider-foto-2.png");
}

.slider-wrapper::after {
  background-image: url("../img/slider-foto-3.png");
}

.slider-wrapper {
    min-width: 1146px;

    background-color: #849d8f;
    background-image: url("../img/slider-foto-1.png");
    background-repeat: no-repeat;
    background-position: top 84px center;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
    position: relative;

    padding-top: 321px;

    text-align: center;
    color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  list-style: none;
}

.slide {
    display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.btn{
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

#product-1:checked ~ .slider-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-foto-1.png");
}

#product-2:checked ~ .slider-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-foto-2.png");
}

#product-3:checked ~ .slider-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-foto-3.png");
}

#product-1:checked ~ .slider-wrapper #slide1,
#product-2:checked ~ .slider-wrapper #slide2,
#product-3:checked ~ .slider-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .slider-wrapper label[for="product-1"],
#product-2:checked ~ .slider-wrapper label[for="product-2"],
#product-3:checked ~ .slider-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.slider-wrapper label[for="product-1"]:hover,
.slider-wrapper label[for="product-2"]:hover,
.slider-wrapper label[for="product-3"]:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.slider-wrapper label[for="product-1"]:active,
.slider-wrapper label[for="product-2"]:active,
.slider-wrapper label[for="product-3"]:active {
  background-color: #ffffff;
}


.slider-controls label {
    display: inline-block;
    margin-right: 8px;
    width: 17px;
    height: 17px;
    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  top: 487px;
  left: 2px;
  z-index: 20;

  font-size: 0;
}
/*
.button:hover,
.button:focus {
    background-color: #ff9966;
}

.button:active {
    background-color: #cc3333;
}
*/
input[type="text"]:hover {
    border: 1px solid #cccccc;
}

input[type="text"]:focus{
    border: 1px solid #99ccff;
}

.main-header {
    padding-top: 9px;
}

.main-logo {
    margin-right: 23px;
    padding: 0;
}

.main-navigation {
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;

}

.main-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 853px;
}

.cite-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 0;
    width: 383px;
}
.main-user-fields{
    display: flex;
}
.main-user-fields ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.user-fields-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    min-width: 244px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
}

.search-field {
    padding: 10px;
    width: 17px;
    height: 17px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.search-buttom {
    display: none;
    position: absolute;
    left: -311px;
    top: 55px;
}

.search-wrapper {
    padding: 20px 15px;

    background-color: #ffffff;
    border-radius: 10px;
}

.search-buttom input{
    width: 311px;
    min-height: 44px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.user-fields-list li:hover .search-buttom {
    display: block;
}


.search-field:hover path,
.search-field:focus path{
    fill: #323232;
}

.enter-form {
    display: none;
    position: absolute;
    top: 59px;
    left: -145px;
    width: 241px;
    height: 214px;
    padding: 22px 18px;
    background-color: #f8f7f4;

}

.user-fields-list li:hover .enter-form {
    display: block;
}

.hower-personal-cabinet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    min-height: 174px;
}

.hower-personal-cabinet input{
    margin-bottom: 20px;
    width: 239px;
    min-height: 45px;
    border: 2px solid #d3d3d2;
    border-radius: 5px;
}

.personal-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 239px;
}

.guess a {
    color: #323232;
    text-decoration: underline;
}

.user-help {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-identification {
    padding: 20px 26px;
    width: 100px;
    height: 44px;
    font-size: 18px;
    line-height: 0;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
}

.button-enterance {
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}

.button-enterance:hover path,
.button-enterance:focus path,
.button-enterance:hover polygon,
.button-enterance:focus polygon {
    fill: #323232;
}

.button-basket {
    padding: 5px 20px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;;
}

.button-basket:hover path,
.button-basket:focus path,
.button-basket:hover circle,
.button-basket:focus circle {
    fill: #323232;
}

.basket-form {
    display: none;
    position: absolute;
    left: -295px;
    top: 59px;
    z-index: 1;

    padding: 0 15px;
    padding-bottom: 20px;

    width: 510px;
    min-height: 202px;

    background-color: #f8f7f4;
    border-radius: 10px;
    color: #323232;

    border: 2px solid green;
}

.basket-of-purches {
    min-height: 242px;
}

.user-fields-list li:hover .basket-form {
    display: block;
}

.basket-table {
    margin-bottom: 15px;

    width: 510px;
    min-height: 130px;

    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    border-bottom: 2px solid #cacac7;

}

.basket-table th:nth-of-type(1){
    width: 12px;
}

.basket-table th:nth-of-type(2){
    width: 33px;

}

.basket-table th:nth-of-type(3){
    width: 214px;
    min-height: 111px;

    vertical-align: center;

}

.basket-table th:nth-of-type(4){
    width: 93px;
}

.basket-table th:nth-of-type(5){
    width: 47px;
}

.basket-price {
    color: #a0a0a0;
}

.basket-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;

    min-height: 95px;
}
.total-basket {
    margin-bottom: 16px;

    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

.button-order {
    padding: 10px 15px;

    width: 200px;
    min-height: 44px;

    font-size: 18px;
    line-height: 24px;
    line-height: 0;
    font-weight: 700;
    border-radius: 20px;
}

.cite-navigation,
.hower-items {
    list-style: none;
}

.cite-navigation li:hover .hower-items{
    display: block;
}

.hower-items {
    display:none;
    position: absolute;
    z-index: 1;
    left: -20px;
    top: 40px;
    padding: 0;
    margin: 0;
    width: 143px;
    border-radius: 10px;
    background-color:  #ffffff;
}

 .hower-items a {
    display: block;
    padding: 12px 20px 15px 22px;
}

.hower-items li:not(:first-child) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #333333;

}
.hower-items li:first-child {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #333333;

    border-bottom: 1px solid #333333;

}

.main-work-time {
    position: absolute;
    left: 1180px;
    margin: 0;
    min-width: 167px;

    font-size: 14px;
    line-weight: 16px;
    font-weight: 700;
    color: #ffffff;
}

.phone-number {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

.points-of-catalog a:hover {
    background-color: #ffcccc;
}

.points-of-catalog a:focus {
    background-color: #f6b5a5;
}

.active-link > a {
    background-color: #d07058;
    color: #ffffff;
}

.main-user-fields {
    position: relative;
}

.main-promo {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;

    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
}

.main-promo h4{
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    color: #ffffff;

}

.main-promo-raspberry {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 23px 20px;

    width: 560px;
    min-height: 230px;
    box-sizing: border-box;

    background-image: url("../img/promo-1.png");
    border-radius: 20px;
    background-repeat: no-repeat;
}

.main-promo-raspberry h4,
.main-promo-raspberry p {
    margin: 0;
    padding: 0;
}

.main-promo-raspberry h4 {
    margin-bottom: 23px;
}

.main-promo-raspberry p {
    margin-bottom: 47px;
}

.main-promo-chocolate {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 23px 20px;

    width: 560px;
    min-height: 230px;
    box-sizing: border-box;

    background-image: url("../img/promo-2.png");
    background-repeat: no-repeat;
    border-radius: 20px;
}

.main-promo-chocolate h4,
.main-promo-chocolate p {
    margin: 0;
    padding: 0;
}

.main-promo-chocolate h4 {
    margin-bottom: 23px;
}

.main-promo-chocolate p {
    margin-bottom: 47px;
}

.button-promo-1 {
    align-self: flex-end;
    padding: 12px 22px;

    width: 165px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

}

.button-promo-2 {
    align-self: flex-end;
    padding: 12px 22px;

    width: 190px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

}

.main-hit-seller {
    margin-bottom: 90px;
}

.main-hit-seller-items {
    display: flex;
    justify-content: space-between;

    padding: 0px;

    list-style: none;
}

.main-hit-seller-items li {
    display: flex;
    flex-direction: column;

    width:267px;

    border-radius: 150px;
    text-align: center;
}

.catalog-title-of-ice-cream {
    margin: 0;
    padding: 0;
    margin-top: 13px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.catalog-price-wrapper {
    margin-top: -120px;
    margin-left: -110px;
}

.catalog-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #ffffff;
}

.main-hit-seller-items img {
    border-radius: 160px;
}

.main-description {
    margin-bottom: 40px;

    min-height: 305px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;

    background-image: url("../img/waffle-pattern.jpg");
    border-radius: 15px;
}

.main-description h1 {
    padding-left: 18px;
    padding-right: 113px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #333333;
}

.main-description-advantages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    margin-left: 73px;
    margin-right: 30px;

    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;

    list-style: none;
}

.main-description-advantages li{
    width: 485px;

}

.main-description-advantages li:nth-child(1)::before {
    content: " ";
    width: 50px;
    height: 50px;
    background-image: url("../img/ice-crea.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 160px;
    top: 1598px;

}

.main-description-advantages li:nth-child(2)::before {
    content: " ";
    width: 50px;
    height: 50px;
    background-image: url("../img/ca.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 720px;
    top: 2145px;

}

.main-description-advantages li:nth-child(3)::before {
    content: " ";
    width: 50px;
    height: 50px;
    background-image: url("../img/thermomet.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 720px;
    top: 2240px;
}
.main-description-advantages li:nth-child(4)::before {
    content: " ";
    width: 50px;
    height: 50px;
    background-image: url("../img/lea.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 160px;
    top: 2240px;
}

.wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}

.recipe span{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #333333;
}

.recipe {
    width: 560px;
    min-height: 220px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #333333;
    text-decoration: underline;

    background-image: url("../img/strawberry.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.recipe a {
    color:inherit;
}

.subscribe {
    width: 560px;
    min-height: 220px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;

    background-image: url("../img/subscribe-form.png");
    background-repeat: no-repeat;
}

.button {
    padding: 10 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    border-radius: 30px;
}

.contacts {
    position: absolute;
    top: 2146px; /* 1946*/
    left: 871px;
    padding: 31px 26px;

    width: 250px;
    min-height: 243px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #333333;

    background-color: #ffffff;
}

.contacts h2 {
    font: inherit;
    color: inherit;
}

.feedback-link {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    background-color: #ff6633;
    border-radius: 10px;
}

.adress,
.contact-number {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
}

.comments {
    display: block;
    position: absolute;

    top: 338px;
    left: 363px;
    padding: 18px 16px 27px 23px;

    width: 438px;
    height: 397px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid yellow;
}

.feedback-link:hover .comments {
    display: block;
}

.comments-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    min-height: 283px;
    list-style: none;
    border: 2px solid green;
}

.comments-fields li:nth-child(1) input{
    width: 267px;
    min-height: 42px;

    border-radius: 5px;
}

.comments-fields li:nth-child(2) input{
    width: 267px;
    min-height: 44px;

    border-radius: 5px;
}

.comments-fields li:nth-child(3) textarea{
    width: 428px;
    min-height: 155px;

    border-radius: 5px;
}

.feedback {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 2px solid red;
    min-height: 400px;
}

.feedback p {
    margin: 0;
    padding: 0;
    margin-bottom: 23px;

    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color:  #333333;
}

.modal-close {
    position: absolute;
    left: 443px;
    top: -2px;
}

.button-feedback {
    align-self: flex-end;
    padding: 11px 25px 14px 25px;

    width: 138px;
    min-height: 44px;

    font-size: 18px;
    line-height: 24px;
    line-height: 0;
    font-weight: 700;
    border-radius: 20px;
}

.main-footer {

    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-items {
    display: flex;

    margin: 0;
    padding: 0;
    min-width: 267px;

    list-style: none;
}

.footer-social li {
    margin-right: 11px;
    opacity: 0.8;
}

.footer-social li:hover {
    opacity: 1;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 330px;
    min-height: 40px;
}

.footer-info a {
    font: inherit;
    color: inherit;

    border-bottom: 1px solid #ffffff;
}

.footer-info a:first-of-type::before {
    content: " ";
    background-image: url("../img/heart-for-delivery-icon.svg");
    width: 40px;
    height: 40px;
    background-size: 40px;
}

.footer-copyright p a {
    font: inherit;
    color:inherit;

    background-color: inherit;
    border-bottom: 1px solid #ffffff;
}


.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 26px;
    list-style: none;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;

    background-color: inherit;
}

.catalog-filters {
    display: flex;
    flex-wrap: wrap;

    width: 949px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: inherit;
}

.catalog-filters span {
    font-size: 14px;
    line-height: 16px;
}

.catalog-filters input{
    font: inherit;
}

.button-filter {

}
.button-filter:hover,
.button-filter:focus {
    background-color: #ffffff;
}

.button-filter:active {
    background-color: #eaeaea;
}

.catalog {
    padding: 0;
}
.catalog h2{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.catalog-weight-of-price {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    color: #ffffff;
}

.catalog-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-items li{
    margin-bottom: 60px;

    width: 267px;

    text-align: center;
}

.catalog-items img {
    border-radius: 160px;
}

.pagination-list {
    display:flex;
    justify-content: flex-end;
}

.pagination-list a{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: #849d8f;
}

.pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-item-current a{
    color: #333333;

    background-color: #ffffff;
    border-radius: 5px;
}

.catalog-items li:hover {

    width: 293px;
    height: 405px;

    background-color: #9bafa3;
}

 /*Temporary*/
/*
body > * {
    background-color: rgba(255, 120, 0, 0.5);
}

body > * >* {
    background-color: rgba(255, 020, 0, 0.5);
}

body > * > * > * {
    background-color: rgba(20, 0, 100, 0.5);
}

body > * > * > * > *{
    background-color: rgba(0, 0, 00, 0.5);
}
*/

.comments {
    display: none;
}
